<div class="right-col-block blocks">
  <section class="intro section-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>{{ 'right.about.title' | translate }}</h2>
          </div>
        </div>
        <div class="col-md-12">
          <p *ngFor="let item of ('right.about.paragraph' | translate)" [innerHTML]="item"></p>
        </div>
      </div>
    </div>
  </section>
  <section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 [innerHTML]="'right.expertise.title' | translate"></h2>
          </div>
        </div>
      </div>
      <!-- .row -->
      <div class="row">
        <div class="col-md-6" *ngFor="let item of ('right.expertise.paragraph' | translate)">
          <div class="expertise-item">
            <h3>{{item.header}}</h3>
            <p [innerHTML]="item.description"></p>
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!--.container-fluid-->
  </section>
  <!-- .expertise-wrapper -->
  <section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 [innerHTML]="'right.skills.title' | translate"></h2>
          </div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="progress-wrapper">
            <div class="mt-3" *ngFor="let item of ('right.skills.paragraph' | translate)">

              <div class="row">
                <div class="col-md-4 col-lg-3 col-xl-2 text-center">
                  <img [src]="item.icon" width="90px" height="60px">
                </div>
                <div class="col-md-8 col-lg-9 col-xl-10">
                  <span class="progress-title">{{item.title}}</span>
                  <ngb-progressbar showValue="true" [value]="item.percent" [striped]="true" height="20px" [animated]="true"></ngb-progressbar>
                </div>
              </div>
            </div>
            <!-- .skill-progress -->
          </div>
          <!-- /.progress-wrapper -->
        </div>
      </div>
      <!--.row -->
    </div>
    <!-- .container-fluid -->
  </section>
  <!-- .skills-wrapper -->
  <section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>{{ 'right.experiences.title' | translate }}</h2>
          </div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item" *ngFor="let item of ('right.experiences.paragraph' | translate)">
            <small>{{item.time}}</small>
            <h3>{{item.role}}</h3>
            <h4>{{item.company}}</h4>
            <p>{{item.address}}</p>
            <h6 [innerHTML]="item.description"></h6>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->
  </section>
  <!-- .section-experience -->
  <section class="section-wrapper section-education">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>{{ 'right.education.title' | translate }}</h2>
          </div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item" *ngFor="let item of ('right.education.paragraph' | translate)">
              <small>{{item.time}}</small>
              <h3>{{item.grade}}</h3>
              <h4>{{item.institution}}</h4>
              <p>{{item.city}}</p>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->
  </section>
  <!-- .section-education -->
  <section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Interest</h2>
          </div>
        </div>
      </div>
      <!-- .row -->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item">
            <h3>Books</h3>
            <p>Proactively extend market-driven e-tailers rather than enterprise-wide supply chains.
              Collaboratively embrace 24/7 processes rather than adaptive users. Seamlessly monetize
              alternative e-business.</p>
          </div>
          <div class="content-item">
            <h3>Sports</h3>
            <p>Assertively grow optimal methodologies after viral technologies. Appropriately develop
              frictionless technology for adaptive functionalities. Competently iterate functionalized
              networks for best-of-breed services.</p>
          </div>
          <div class="content-item">
            <h3>Art</h3>
            <p>Dramatically utilize superior infomediaries whereas functional core competencies.
              Enthusiastically repurpose synergistic vortals for customer directed portals. Interactively
              pursue sustainable leadership via.</p>
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
  </section>
  <!-- .section-publications -->
  <section class="section-wrapper portfolio-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Portfolio</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="portfolio-item" href="#">
            <div class="portfolio-thumb">
              <img src="../../assets/img/portfolio-1.jpg" alt="">
            </div>
            <div class="portfolio-info">
              <h3>Creative concepts</h3>
              <small>domain.com</small>
            </div>
            <!-- portfolio-info -->
          </a>
          <!-- .portfolio-item -->
        </div>
        <div class="col-md-6">
          <a class="portfolio-item" href="#">
            <div class="portfolio-thumb">
              <img src="../../assets/img/portfolio-2.jpg" alt="">
            </div>
            <div class="portfolio-info">
              <h3>Customer focused</h3>
              <small>domain.com</small>
            </div>
            <!-- portfolio-info -->
          </a>
          <!-- .portfolio-item -->
        </div>
        <div class="col-md-6">
          <a class="portfolio-item" href="#">
            <div class="portfolio-thumb">
              <img src="../../assets/img/portfolio-3.jpg" alt="">
            </div>
            <div class="portfolio-info">
              <h3>Management methodology</h3>
              <small>domain.com</small>
            </div>
            <!-- portfolio-info -->
          </a>
          <!-- .portfolio-item -->
        </div>
        <div class="col-md-6">
          <a class="portfolio-item" href="#">
            <div class="portfolio-thumb">
              <img src="../../assets/img/portfolio-4.jpg" alt="">
            </div>
            <div class="portfolio-info">
              <h3>Market research</h3>
              <small>domain.com</small>
            </div>
            <!-- portfolio-info -->
          </a>
          <!-- .portfolio-item -->
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- .portfolio -->
  <section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Contact</h2>
          </div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <address>
            <strong>Address</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103
          </address>
          <address>
            <strong>Phone Number</strong><br>
            +61 3 8376 6284
          </address>
          <address>
            <strong>Mobile Number</strong><br>
            987 654 321
          </address>
          <address>
            <strong>Email</strong><br>
            <a href="mailto:#">coffee@amelie.me</a>
          </address>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="feedback-form">
            <h2>Get in touch</h2>
            <form id="contactForm" action="sendemail.php" method="POST">
              <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" name="name" required="" class="form-control" id="InputName" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" name="email" required="" class="form-control" id="InputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="InputSubject">Subject</label>
                <input type="text" name="subject" class="form-control" id="InputSubject" placeholder="Subject">
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Message</label>
                <textarea class="form-control" rows="4" required="" name="message" id="message-text" placeholder="Write message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <!-- .feedback-form -->
        </div>
      </div>
    </div>
    <!--.container-fluid-->
  </section>
  <!--.section-contact-->
  <footer class="footer">
    <div class="copyright-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="copytext">&copy; 2015 Online CV. All rights reserved | Design By: <a href="https://themehippo.com">ThemeHippo</a></div>
          </div>
        </div>
        <!--.row-->
      </div>
      <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
  </footer>
  <!-- .footer -->
</div>
